# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PyCharm
.idea/

# Other files
*.png
*.fits
.DS_Store
